/* TSOS.css 

    Everything you need to make the OS look pretty
    Including bootsrap of course
*/

body {
  background: #909193 url(distrib/images/llamascarf.jpg)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  opacity: 1;
  transition: 1s opacity;
}

html {
    background-color: transparent;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
}

h2 {
  color: rgb(243, 119, 62);
  font-size: 20pt;
  font-weight: bold;
  font-style: normal;
  font-family: 'Trebuchet MS';

}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

.footerText {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

#taskBar{
    font-size: 16px;
    margin: 5px;
    color: #000000;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    border-radius: 25px;
    background-color: rgba(228, 88, 29, 0.74);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#divConsole {
    margin: 15px;
    float: left;
}

#displayPCB {
    background: white;
    opacity: 0.5;
    color: black;
    background-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#showCPU {
    background: white;
    opacity: 0.5;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#Memory {
    background: white;
    opacity: 0.5;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#HP {
    float: right;

}

#canvas {
    background: #DFDBC3;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#canvas.ohno {
    width: 500px;
    height: 500px;
    box-shadow: 0 0 0 rgb(255, 0, 0);
    animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
        box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}



#display {
}

#display.ohno {
    background-color: blue;
}

textarea {
    background: white;
    opacity: 0.5;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background-color: coral;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 25px;
}

button:hover,
button:focus {
    background-color: chocolate;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 25px;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 25px;
}

button:active {
    transform: scale(0.99);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 25px;
}

#llamaLogo {
    height: 5%;
    width: 5%;
}


th{
    /*border: 1px solid black;*/
    padding:3px;
}

.speech-bubble {
    position: relative;
    background: rgb(82, 190, 125);
    border-radius: .4em;
    line-height: 1.3;
    width: 150px;
    height: 100px;
    padding: 15px;
    border:inherit;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: rgb(82, 190, 125);
    border-right: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-right: -20px;
}

    