/* TSOS.css */

body {
  background: #909193 url(distrib/images/mp1.jpg)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  opacity: 1;
  transition: 1s opacity;
}

html {
    background-color: ;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:#DFDBC3;
  /*border: 2px solid blue;*/
  cursor: default;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

#taskBar {
    font-size: 16px;
    margin: 5px;
    color: #000000;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    border-radius: 25px;
    background-color: skyblue;
}

#dateTime{


}

.divConsole {
    margin:50px; 
    width:500px; 
    height:500px; 
    float:left;
    /*border-radius: 25px;*/
}

.divLog {
    margin-left: 950px;
    float: top right;
    color: rgba(35, 216, 99, 0.60);
}

.divUserProgramInput {
    margin-left: 950px;
    float: bottom right;
    color: rgba(35, 216, 99, 0.60);
}

/*#taProgramInput, #taHostLog {
    background: transparent;
    color: rgba(35, 216, 99, 0.60);
}*/